
body {
    font-family: optima;
    max-width: 75ch;
    /* margin-top: 10vh;
    margin-left: 5vw; */
    padding: 28px;
}

ul {
}

li {
}

a {
    text-decoration: none;
    color: black;
}

.blog-intro {
    /* margin-top: 10vh;
    margin-left: 5vw; */
}

.return-nav {
    vertical-align: bottom;
}