
body {
    font-family: optima;
    /* margin-top: 10vh;
    margin-left: 5vw; */
    padding: 28px;
}

ul {
    margin-top: 32px;
}

li {
    line-height: 1.5;
}

hr {
    /* border: none; */
}

a {
    text-decoration: none;
    color: black;
}

.blog-intro {
    /* margin-top: 10vh;
    margin-left: 5vw; */
    max-width: 80ch;
}